<html ng-app="ExpenseApp" ng-controller="expenseController" ng-init="getExpenses()">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/font-awesome.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/angular-datepicker.css"/>

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <script src="../AngularJs/angular.min.js"></script>
    <script src="../AngularJs/angular-route.min.js"></script>
    <script src="../AngularJs/angular-route.js"></script>
    <script src="../controllers/expenseController.js"></script>
    <script src="../AngularJs/angular-datepicker.js"></script>

</head>
<body>

<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Expenses</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href=".."><i class="fa fa-home"></i>Home</a></li>
                <li><a href="report.html"><i class="fa fa-file-text"></i>Reports</a></li>
                <li><a href="expenses.html"><i class="fa fa-pencil"></i>Expenses Control</a></li>
                <li><a href="users.html"><i class="fa fa-pencil"></i>User Control</a></li>
                <li><a href="suppliers.html"><i class="fa fa-pencil"></i>Suppliers Control</a></li>
                <li><a href="supplierCategories.html"><i class="fa fa-pencil"></i>Supplier Categories Control</a></li>
                <li><a href="paymentTypes.html"><i class="fa fa-pencil"></i>Payment Types Control</a></li>
                <li><button class="pull-right" ng-click="terminal()">SQL</button></li>
            </ul>
        </div>
    </nav>
</header>


<row>
    <div class="col-sm-2">
        <ul class="nav nav-stacked nav-pills">
            <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Add</a></li>
            <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Edit</a></li>
        </ul>
    </div>

    <div class="col-sm-10">
        <div ng-show="isSet(1)">
            Paid to: <select class="col-sm-12" type="input-large" ng-model="supplierName" ng-options="x for x in supplierNames"></select><br><br>
            Expense Date: <datepicker date-format="yyyy-MM-dd" >
                            <input ng-model="date" type="text" class="col-md-12"/>
                           </datepicker><br><br>
            Category: <input type="text" class="form-control" ng-model="category"  ng-readonly="true"/>
            Expense Amount: <input type="text" class="form-control" ng-model="amount"/>
            Percentage From D&J: <input type="text" class="form-control" ng-model="percent" ng-readonly="true"/>
            User:  <select class="col-sm-12" type="input-large" ng-model="user" ng-options="x for x in users"></select><br><br><br>
            <button ng-click="addExpense()">Submit</button>
        </div>
        <div ng-show="isSet(2)">
            <table class="table">
                <tr>
                    <td ng-repeat="header in headers.slice().reverse()">{{header}}</td>
                </tr>
                <tr ng-repeat="expense in expenses">
                    <td ng-repeat="data in expense.row">{{data.value}}</td>
                    <td><button ng-click="removeExpenses($index)">Remove</button></td>
                </tr>
            </table>
        </div>
    </div>
</row>

</body>
</html>