<html ng-app="ExpenseApp" ng-controller="reportController">
<head>
    <!-- SCROLLS -->
    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/font-awesome.css"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/angular-datepicker.css"/>

    <!-- SPELLS -->
    <!-- load angular and angular route via CDN -->
    <script src="../AngularJs/angular.min.js"></script>
    <script src="../AngularJs/angular-route.min.js"></script>
    <script src="../AngularJs/angular-route.js"></script>
    <script src="../AngularJs/angular-datepicker.js"></script>
    <script src="../controllers/reportController.js"></script>
</head>
<body>

<!-- HEADER AND NAVBAR -->
<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Reporting</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href=".."><i class="fa fa-home"></i>Home</a></li>
                <li><a href="report.html"><i class="fa fa-file-text"></i>Reports</a></li>
                <li><a href="expenses.html"><i class="fa fa-pencil"></i>Expenses Control</a></li>
                <li><a href="users.html"><i class="fa fa-pencil"></i>User Control</a></li>
                <li><a href="suppliers.html"><i class="fa fa-pencil"></i>Suppliers Control</a></li>
                <li><a href="supplierCategories.html"><i class="fa fa-pencil"></i>Supplier Categories Control</a></li>
                <li><a href="paymentTypes.html"><i class="fa fa-pencil"></i>Payment Types Control</a></li>
                <li>
                    <button class="pull-right" ng-click="terminal()">SQL</button>
                </li>
            </ul>
        </div>
    </nav>
</header>

<row class="padding">
    <div class="col-sm-12">
        <div class="col-sm-5">
            <h4>From Date</h4>
            <datepicker date-format="yyyy-MM-dd">
                <input ng-model="fromDate" type="text"/>
            </datepicker>
        </div>
        <div class="col-sm-5">
            <h4>To Date</h4>
            <datepicker date-format="yyyy-MM-dd">
                <input ng-model="toDate" type="text"/>
            </datepicker>
        </div>
        <div class="col-sm-2">
            <button ng-click="generate(fromDate, toDate)" ng-show="fromDate && toDate">Generate</button>
        </div>
    </div>
</row>
<row>
    <div class="col-sm-2">
        <ul class="nav nav-stacked nav-pills">
            <li ng-class="{active:isSet(1)}"><a href ng-click="setTab(1)">Full Report</a></li>
            <li ng-class="{active:isSet(2)}"><a href ng-click="setTab(2)">Supplier Total</a></li>
            <li ng-class="{active:isSet(5)}"><a href ng-click="setTab(5)">Category Total</a></li>
            <li ng-class="{active:isSet(3)}"><a href ng-click="setTab(3)">Monthly Total</a></li>
            <li ng-class="{active:isSet(4)}"><a href ng-click="setTab(4)">Grand Total</a></li>
        </ul>
    </div>

    <div class="col-sm-10">
        <div ng-show="isSet(1)">
            <table class="table">
                <tr>
                    <td ng-repeat="header in headers1">{{header}}</td>
                </tr>
                <tr ng-repeat="row in rows1">
                    <td ng-repeat="data in row.row.slice().reverse()">{{data.value}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="isSet(2)">
            <table class="table">
                <tr>
                    <td ng-repeat="header in headers2">{{header}}</td>
                </tr>
                <tr ng-repeat="row in rows2">
                    <td ng-repeat="data in row.row.slice().reverse()">{{data.value}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="isSet(5)">
            <table class="table">
                <tr>
                    <td ng-repeat="header in headers5">{{header}}</td>
                </tr>
                <tr ng-repeat="row in rows5">
                    <td ng-repeat="data in row.row.slice().reverse()">{{data.value}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="isSet(3)">
            <table class="table">
                <tr>
                    <td ng-repeat="header in headers3">{{header}}</td>
                </tr>
                <tr ng-repeat="row in rows3">
                    <td ng-repeat="data in row.row.slice().reverse()">{{data.value}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="isSet(4)">
            <table class="table">
                <tr>
                    <td ng-repeat="header in headers4">{{header}}</td>
                </tr>
                <tr ng-repeat="row in rows4">
                    <td ng-repeat="data in row.row.slice().reverse()">{{data.value}}</td>
                </tr>
            </table>
        </div>
    </div>
</row>

</body>
</html>